/* Ensure html and body are full height */
html, body {
  height: 100%;
  margin: 0;  /* Remove default margins */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Override styles for #map */
#map {
  height: 100vh; /* Make sure the map takes up the full screen height */
  width: 100vw;  /* Ensure it stretches across the full width */
  position: absolute; /* Position it absolutely within the page */
  top: 0; /* Align the map to the top of the page */
  left: 0; /* Align the map to the left of the page */
}

/* Styles for other elements */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

button {
  background-color: #f01a7a; /* Pink background */
  color: white; /* White text */
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff4c8f; /* Darker pink on hover */
  transform: scale(1.1); /* Slightly larger on hover */
}

button:active {
  background-color: #ff3366; /* Even darker pink on click */
  transform: scale(0.9); /* Slightly smaller on click */
}

button:focus {
  outline: none; /* Remove focus outline */
}

.mapboxgl-popup-content {
  background-color: transparent !important;
}